*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
.header{
    margin-bottom: 2rem;
    position: relative;
}
.header::before{
    content:"";
    position: absolute;
    height:4px;
    width:32px;
    bottom:0px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(225deg, rgb(196, 8, 186), rgb(93, 32, 192), rgb(33, 33, 33));
}

body{
    background: linear-gradient(225deg, rgb(196, 8, 186), rgb(93, 32, 192), rgb(33, 33, 33));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;     
}
main{
    margin-top: 25vh;
    display: flex-block;
    justify-content: center;
}
#footer{
    display: flex;
    width:25rem;
    max-width: 80vw;
    margin-top: 1rem;
    margin-left: auto;
    margin-right:auto; 
    justify-content: right;
    
}
#footer h4{
    color: #FFFAFA;
    margin-left: 82%;
}
#formulario{
    display: flex;
    width:25rem;
    max-width: 80vw;
    min-height: 40vh;  
    margin-left: auto;
    margin-right:auto; 
}
form{
    background: #FFFAFA;
    padding: 2rem;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}
.input-group{
    position: relative;
    margin: 0.5rem;
}

.input-group .underline::before{
    content:"";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: rgba(0,0,0,0.2);
}
.input-group .underline::after{
    content:"";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: linear-gradient(225deg, rgb(196, 8, 186), rgb(93, 32, 192), rgb(33, 33, 33));
    transform:scaleX(0);
    transition: all 0.3s ease;
    transform-origin: left;
}

.input-group input:focus ~ .underline::after{
    transform:scaleX(1);
}

.input-group input{
    outline: none;
    font-size: 0.9rem ;
    color: rgba(0,0,0,0.7);
}

.input-group input::placeholder{
    color: rgba(0,0,0,0.5);
}


button{
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #4776E6,#8e54e9);
    cursor: pointer;
    color:#FFFAFA;
    font-size:0.9rem;
    font-weight: 400;
    border-radius: 5px;
    transition: all 0.3s ease;
    width:100%;
}
button:hover{
    letter-spacing: 1px;
    font-weight: 600;
    background: linear-gradient(to right, #4776E6,#8e54e9);
}
.complementos{
    display: flex;
    flex-direction: column;
    margin-top:1rem;
}

.complementos p{
    color:rgba(0,0,0,0.7);
    font-size:0.8rem;
    text-align:center;
}

.complementos .social{
    padding: 0.4rem;
    font-size:0.85rem;
    width: 100%;
    cursor: pointer;
    
}
.complementos .social a{
    text-decoration:none;
    color:#FFFAFA;   
    transition: all 0.3s ease; 
}
.complementos .social a i{
    margin: 0 0.5rem;
    width:15px;    
}

.complementos .social .twitter{
    background: linear-gradient(to right,#56a7f2,#468aca);
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.4rem;
    transition: all 0s ease;
    text-align: center;
}
.complementos .social .twitter:hover{
    background: linear-gradient(to left,#56a7f2,#468aca);
    letter-spacing: 1px;
    font-weight: 600;  
}
.complementos .social .facebook{
    background: linear-gradient(to right,#1e3c72,#2a5298);
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.4rem;
    transition: all 0s ease;
    text-align: center;
}
.complementos .social .facebook:hover{
    background: linear-gradient(to left,#1e3c72,#2a5298);
    letter-spacing: 1px;
    font-weight: 600;  
}